*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: blanchedalmond;
}

#heading{
  width: 450px;
  height: 100px;
  position: absolute;
  left: 35vw;
  background-color: aqua;
  color: red;
  border-radius: 10px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container{
  height: 300px;
  width: 900px;
  border: solid black 10px;
  position: absolute;
  top: 200px;
  left: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.box{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: pink;
  font-size: 40px;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.box:hover {
  border: solid black 10px;
  cursor: pointer;
}

#winner{
  width: 900px;
  height: 90px;
  position: absolute;
  top: 105px;
  left: 300px;
  background-color: yellow;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

#scores{
  box-sizing: border-box;
  width: 500px;
  height: 200px;
  border: solid black 10px;
  position: absolute;
  top: 520px;
  left: 500px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count{
  height: 100px;
  width: 200px;
  border-radius: 10px;
  border-radius: 20px;
  border: 5px solid red;
  margin: 50px;
  display: flex;
  font-size: 20px;
  justify-content: center;
}

.num{
  width: 60px;
  height: 50px;
  border: 1px solid black;
  position: relative;
  top: 40px;
  right: 40px;
  color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}